<!DOCTYPE html>
<html>
  <head>
    <title>My First WebPage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>My first web page application</p>
  </body>
</html>