<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascript/jquery-2.0.3.min.js"></script>
    <script src="/javascript/registration.js"></script>
  </head>
  <body>
    <div>
        Name: <input type="text" name="name" id="name"> <br>
        Age : <input type="text" name="age" id="age"> <br>
        <input type="button" id="btn" value="Submit">
    </div>
  </body>
</html>